VITE_FIREBASE_API_KEY=AIzaSyBuLtdylEcQWiXX50dU7g5bCbowsZ7gQnI
VITE_FIREBASE_AUTH_DOMAIN=swu-med-queueing-system.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=swu-med-queueing-system
VITE_FIREBASE_STORAGE_BUCKET=swu-med-queueing-system.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=489238886094
VITE_FIREBASE_APP_ID=1:489238886094:web:38d8afdbf2b9881cbdc29f